<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Machine.Fakes" version="2.7.0" targetFramework="net45" />
  <package id="Machine.Fakes.Moq" version="2.7.0" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.9.3" targetFramework="net45" />
  <package id="Machine.Specifications.Should" version="0.8.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net45" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net45" />
</packages>